.body{
    display: grid;
    grid-template-rows: 50px auto;
}

.header{
    grid-row: 1 / 2;
    height: 60px;
    background-color: black;
}
.body{
    grid-row: 2 / 4;
    background-color: darkblue;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
    padding: 5px;
}

.Home{
    background-color: lightblue;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
    padding: 5px;
}

.filter{
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 5px;
    background-color: brown;
}

.lessons{
    grid-row: 2 / 3;
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.card {
    background-color: azure;
    width: 25%;
    height: 250px;
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.Checkout {
    grid-row: 1 / 4;
    background-color: lightblue;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    padding: 5px;
}

.order {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 5px;
    background-color: brown;
}

.order_inputs{
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: whitesmoke;
}

.order_errors{
    grid-row: 2 / 3;
}

.cart {
    grid-row: 2 / 3;
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 5px;
}

.button{
    background-color: lightblue;
}