#body{
    display: grid;
    grid-template-rows: 10vh 90vh;
    background-color: brown;
}

.header{
    grid-row: 1 / 2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.H_Checkout{
    background-color: brown;
}
.H_title{
    grid-column: 2/3;
    color: white;
    background-color: brown;
}
.H_search{
    background-color: brown; 
}
.MainBody{
    grid-row: 2 / 4;
    background-color: darkblue;
    height: 118vh;
    display: grid;
    grid-template-rows: 50px auto;
    padding: 5px;
}

.Home{
    background-color: lightblue;
    height: 115vh;
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 5px;
    overflow-y: hidden;
}

.filter{
    grid-row: 1 / 2;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}

.lessons{
    grid-row: 2 / 3;
    background-color: rgb(97, 172, 197);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    overflow-y: scroll;
}

.card {
    background-color: azure;
    width: 25%;
    height: 250px;
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.Checkout {
    grid-row: 1 / 4;
    background-color: lightblue;
    height: 115vh;
    display: grid;
    grid-template-rows: 20vh 80vh;
    padding: 5px;
}

.order {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 5px;
    background-color: brown;
}

.order_inputs{
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.order_errors{
    grid-row: 2 / 3;
}

.cart {
    grid-row: 2 / 3;
    background-color: rgb(0, 106, 141);
    height: 93vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 5px;
}

#button{
    background-color: lightblue;
}