.body{
    display: grid;
    grid-template-rows: 50px auto 40px;
}

.header{
    grid-row: 1 / 2;
    height: 60px;
    background-color: black;
}
.P_body{
    grid-row: 2 / 3;
    background-color: darkblue;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
    padding: 5px;
}

.S_header{
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: brown;
}

.S_body{
    grid-row: 2 / 3;
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.footer {
    grid-row: 3 / 4;
    background-color: azure;
}

.card {
    background-color: azure;
    width: 25%;
    height: 250px;
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.subject_info {

}

.subject_img {

}

.button{
    background-color: lightblue;
}