<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="front.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <button type="button" v-on:click="showCheckUot">
                <span class="fa-solid fa-cart-plus"></span>
                Check out: {{Tuitions.length}}
            </button>
        </div>
        
        <main class="P_body">
            <div class="S_header">
                <h2>Filter:</h2>
                <select v-model="filter.method">
                    <option disabled value="">Filter</option>
                    <option value=1>Subject</option>
                    <option value=2>Location</option>
                    <option value=3>Spaces</option>
                    <option value=4>Price</option>
                </select>
                <p>
                    <input type="radio" id="Asc" value=1 v-model="filter.order">
                    <label for="Asc">:Ascending</label>
                    <input type="radio" id="Desc" value=-1 v-model="filter.order">
                    <label for="Desc">:Descending</label>
                </p>
                <button type="button" v-on:click="sortLessons">filter</button>
            </div>
            <div class="S_body" v-if="showLessons">
                
                <div class="card" v-for="lesson in Lessons">
                    <figure>
                    <img class="width : 50px" src="lesson.image" alt="lesson-IMG">
                    </figure>
                    <p >Subject: {{lesson.subject}}</p>
                    <p >Location: {{lesson.location}}</p>
                    <p >Price: £{{lesson.price}}</p>
                    <p >Space: {{lesson.spaces}}</p>
                    <button type="button" v-if="CanAddToCart(lesson)" v-on:click="addToCart(lesson)">add to cart</button>
                    <div v-else>
                        <button disabled>Add to cart</button>
                    </div>
                </div>
            </div>
            <div v-else>
                <h2>Shopping Cart:</h2>
                <h2>Checkout:</h2>
                <label for="Fname">First name: </label>
                <input id="Fname" v-model.trim="order.Fname"/>

                <label for="Lname">Last name: </label>
                <input id="Lname" v-model.trim="order.Lname"/>

                <label for="address">Phone:</label>
                <input id="address" v-model.number="order.Phone"/>
                <button type="button" v-on:click="postData()">
                    Place order
                </button>
            </div>
        </main>
        <div class="footer"></div>
    </div>
    <script src="front.js"></script>
</body>
</html>