<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="front.css">
    <title>M00905343</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <button class="Checkout_button" type="button"  v-if="CanCheckout" v-on:click="showCheckUot">
                <span class="fa-solid fa-cart-plus"></span>
                Check out: {{Tuitions.length}}
            </button>
            <div  v-else>
                <button class="Checkout_button" disabled>Check out: {{Tuitions.length}}</button>
            </div>
            <h2 class="H_title">
                Tuition App
            </h2>
            <div class="H_search">
                <input id="SBar" placeholder="type to seach" v-model.trim="search"/>
                <button type="button" v-on:click="searchCollection">
                    Search
                </button>
            </div>
            
        </div>
        <main class="MainBody">
            <div class="Home" v-if="showLessons">
                <div class="filter">
                    <h3>Filter:</h3>
                    <select class="selection" v-model="filter.method">
                        <option disabled value="">Filter</option>
                        <option value=1>Subject</option>
                        <option value=2>Location</option>
                        <option value=3>Spaces</option>
                        <option value=4>Price</option>
                    </select>
                    <p>
                        <input type="radio" id="Asc" value=1 v-model="filter.order">
                        <label for="Asc">: Ascending </label>
                        <input type="radio" id="Desc" value=-1 v-model="filter.order">
                        <label for="Desc">: Descending </label>
                    </p>
                    <button type="button" v-on:click="sortLessons">Filter</button>
                </div>
                <div class="lessons">
                    <div class="card" v-for="lesson in filteredLessons" :key="lesson.id">
                        <figure>
                        <img class="width : 50px" src="lesson.image" alt="lesson-IMG">
                        </figure>
                        <p >Subject: {{lesson.subject}}</p>
                        <p >Location: {{lesson.location}}</p>
                        <p >Price: £{{lesson.price}}</p>
                        <p >Space: {{lesson.spaces}}</p>
                        <button type="button" class="card_button" v-if="CanAddToCart(lesson)" v-on:click="addToCart(lesson)">add to cart</button>
                        <div v-else>
                            <button class="card_button" disabled>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Checkout"  v-else>
                <h2 class="checkout_title">Checkout:</h2>
                <div class="order">
                    <div class="order_inputs">
                        <label for="Fname">First name: </label>
                        <input id="Fname" v-model.trim="order.Fname" required/>

                        <label for="Lname">Last name: </label>
                        <input id="Lname" v-model.trim="order.Lname" required/>

                        <label for="address">Phone number:</label>
                        <input id="address" v-model.number="order.Phone" required pattern="\d{10}"/>
                        <button type="button"v-if="isFormValid" v-on:click="postData()">
                            Place order
                        </button>
                        <div v-else>
                            <button disabled>Place order</button>
                        </div>
                    </div>
                    <div class="order_errors">
                        <p v-if="status.length">
                            <b>Status:</b>
                            <ul>
                              <li v-for="message in status">{{ message }}</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="cart">
                    <div class="card" v-for="lesson in Tuitions">
                        <figure>
                            <img class="width : 50px" src="lesson.image" alt="lesson-IMG">
                            </figure>
                            <p >Subject: {{lesson.subject}}</p>
                            <p >Location: {{lesson.location}}</p>
                            <p >Price: £{{lesson.price}}</p>
                            <button class="card_button" type="button" v-on:click="removeLesson(lesson)">remove</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="front.js"></script>
</body>
</html>